.lb-album{
	padding: 0px;
	width: 100%;
}
.lb-album li{
	float: left;
	padding: 6px 15px 0px 15px;
	position: relative;
}
.lb-album li > a,
.lb-album li > a img{
	display: block;
	width: 100%;
  height: 100%;
}
.lb-album li > a{
	width: 100%;
	position: relative;
	padding: 3px;
	background: #d89126;
	-webkit-box-shadow: 1px 1px 2px #fff, 1px 1px 2px rgba(158,111,86,0.3) inset;
	-moz-box-shadow: 1px 1px 2px #fff, 1px 1px 2px rgba(158,111,86,0.3) inset;
	box-shadow: 1px 1px 2px #fff, 1px 1px 2px rgba(158,111,86,0.3) inset;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px 4px 4px 4px;
}
.lb-album li p{
	text-align: center;
	padding: 2%;
  color: rgba(33, 33, 33, 0.9);
}
.lb-album li > a span{
	position: absolute;
	width: 98%;
	height: 98%;
	top: 1%;
	left: 1%;
	    text-align: center;
	    padding-top: 39%;
			color: rgb(255, 255, 255);
			text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);
	    font-size: 24px;
	    opacity: 0;
			filter: alpha(opacity=0); /* internet explorer */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=0)"; /*IE8*/
	background: rgb(241,210,194);
	background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,0.56) 0%, rgba(241,210,194,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,0.56)), color-stop(100%,rgba(241,210,194,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(101, 181, 75, 0.7) 0%,rgb(31, 92, 1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(101, 181, 75, 0.7) 0%,rgb(31, 92, 1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(101, 181, 75, 0.7) 0%,rgb(31, 92, 1) 100%);
	background: radial-gradient(center, ellipse cover, rgba(101, 181, 75, 0.7) 0%,rgb(31, 92, 1) 100%);
	-webkit-transition: opacity 0.3s linear;
	-moz-transition: opacity 0.3s linear;
	-o-transition: opacity 0.3s linear;
	-ms-transition: opacity 0.3s linear;
	transition: opacity 0.3s linear;
}
.lb-album li > a:hover span{
	opacity: 1;
	filter: alpha(opacity=99); /* internet explorer */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=99)"; /*IE8*/
}
.lb-overlay{
	width: 0px;
	height: 0px;
	position: fixed;
	overflow: hidden;
	left: 0px;
	top: 0px;
	padding: 0px;
	z-index: 99;
  text-align: justify;
	background: rgb(241,210,194);
	background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,0.56) 0%, rgba(241,210,194,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,0.56)), color-stop(100%,rgba(241,210,194,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(88, 88, 88, 0.56) 0%,rgb(0, 0, 0) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(88, 88, 88, 0.56) 0%,rgb(0, 0, 0) 100%);;
	background: -ms-radial-gradient(center, ellipse cover, rgba(88, 88, 88, 0.56) 0%,rgb(0, 0, 0) 100%);;
	background: radial-gradient(center, ellipse cover, rgba(88, 88, 88, 0.56) 0%,rgb(0, 0, 0) 100%);;
}
.lb-overlay a.lb-close{
	/*background: linear-gradient(#bfbfbf, #ececec);*/
	border-radius: 6px;
	z-index: 1001;
	padding: 4px;
	color: #747171;
	position: absolute;
	font-size: 28px;
	text-align: center;
	overflow: hidden;
	margin-left: -20px;
	opacity: 0;
	filter: alpha(opacity=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)";
	-webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	box-shadow: 0px 1px 2px rgba(0,0,0,0.3);*/
}

.lb-overlay img{
	/* height: 100%; For Opera max-height does not seem to work */
	max-height: 100%;
	position: relative;
	opacity: 0;
	filter: alpha(opacity=0); /* internet explorer */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=0)"; /*IE8*/
	-webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
	-moz-box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
	box-shadow: 0px 2px 7px rgba(0,0,0,0.2);
	-webkit-transition: opacity 0.5s linear;
	-moz-transition: opacity 0.5s linear;
	-o-transition: opacity 0.5s linear;
	-ms-transition: opacity 0.5s linear;
	transition: opacity 0.5s linear;
}
.lb-prev, .lb-next{
	color: rgba(64, 64, 64, 0.41);
	filter: alpha(opacity=80); /* internet explorer */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=80)"; /*IE8*/
}
.lb-prev:hover, .lb-next:hover{
	opacity: 1;
	filter: alpha(opacity=99); /* internet explorer */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=99)"; /*IE8*/
}
.lb-prev{
			top: 0%;
			left: 0%;
	    margin-left: 1%;
	    font-size: 44px;
	    background: transparent url(../images/arrows.png) no-repeat top left;
	    position: absolute;
	    padding-top: 45%;
	    padding-bottom: 40%;
	    padding-right: 40%;
}

.lb-next{
			top: 0%;
			right: 0;
		  font-size: 44px;
	    margin-right: 1%;
	    background: transparent url(../images/arrows.png) no-repeat top left;
	    position: absolute;
	    padding-top: 45%;
	    padding-bottom: 40%;
			padding-left: 25%;
			float: right;
}
.lb-prev:hover, .lb-next:hover{
	color: green;
}
.lb-overlay:target {overflow-y: auto;    overflow-x: hidden;  width: 100%;    height: auto;    bottom: 0px;}
.lb-overlay:target img,
.lb-overlay:target a.lb-close{
	opacity: 1;
	filter: alpha(opacity=99); /* internet explorer */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=99)"; /*IE8*/
}
/*
	100% Height for Opera as the max-height seems to be ignored, not optimal for large screens
	http://bricss.net/post/11230266445/css-hack-to-target-opera
*/
x:-o-prefocus, .lb-overlay img {
    height: 100%;
}
