/*
Theme Name: Theme Design OrganicaDelSur
Theme URI: nandes.ingsistemas@gmail.com
Author: Fernando Averanga Aruquipa(Responsive Design)
*/
.mini-organica{
  display: none;
  width: 100%;height: auto;
  padding-top: 2%; margin-bottom: -7px;
}
.contenedor-menu{
  display: none;
}
.contenedor-menu ul{
  width: 100%;background: #a1cb76;
}
.contenedor-menu a:hover{
  box-shadow: rgb(133, 193, 0) 3px 3px 7px 3px inset;
  background: linear-gradient(rgb(92, 158, 0) 5%, rgb(77, 109, 0) 100%) rgb(0, 179, 21);
  display: -webkit-box;
  text-align: -webkit-center;
  padding: 13px;
  margin-bottom: 4px;
}
.contenedor-menu .menures{
    display: none;
    padding: 13px;margin-bottom: 2px;
    color: white;
    text-align: center;
    box-shadow: rgb(65, 148, 24) 4px 10px 7px 3px inset;
    background: linear-gradient(rgb(29, 88, 0) 5%, rgb(29, 88, 0) 100%) rgb(29, 88, 0);
    border-radius: 14px;
    border: 1px solid rgb(29, 88, 0);
    margin-top: 12px;
}
.tituloProd{background: linear-gradient(#dfdfdf,#fefefe); color: #45523e;    font-size: 70px;    border: 2px solid rgba(29, 88, 0, 0.83);}
@media (min-width: 746px) and (max-width: 991px) {
/*footer*/
.colf1 {width: 100%; padding-bottom: 2%;}
.colf2, .colf3 {width: 50%;}
}
@media (max-width:1250px){
  .colh2 {width: 100%;    top: -8px;}
  .wrap {width: 95%;}
  .slide--notop .colh2 {
    width: 100%;
    left: 45px;
  top: -11px;
  }
  .colh1 { width: 30%;    top: -16px;    height: 169px;  }
  .slide--notop .colh1 {top: 0;}
  .orswrapper {padding-top: 240px;}
  .wrapeverything {
    padding-left: 2%;
    padding-right: 2%;
  }
  .col20d {width: 33.33%;}
  .line-inner {
    width: 70%;
    height: auto;
    margin-left: 15%;
  }
}
@media (max-width:1390px){
  .coll3 {width: 40%;}
  .colmap {width: 60%;}
}
@media (max-width:1200px) {
  .coll3 {width: 45%;}
  .colmap {width: 55%;}
}
@media (max-width:1080px) {
  .coll3 {width: 50%;}
  .colmap {width: 50%;}
}
@media (max-width: 991px) {
  .coll3 {width: 55%;}
  .colmap {width: 45%;}
  .wrap {width: 100%; left: -4px;}
  .boton4 { left: 66%;}
  .colh1 { width: 55%;}
  .colhi2 {width: 44%;float: right;}
  /*redes sociales*/
  .colhi1 {display: none;}
  .col20d {width: 50%;}
  .line-inner {
    width: 92%;
    margin-left: 4%;
  }
}
@media (max-width:900px) {
  .coll3 {width: 60%;}
  .colmap {width: 40%;}
}
@media (max-width: 760px) {
  .slide--notop{
    display: none;
  }
  .rod{margin-top: 3px;}
  .contenedor-menu{
    display: block;cursor: pointer;
  }
  /*menu-movil*/
  .contenedor-menu .menures{
    display: block;
  }
  .contenedor-menu li{
    display: block;
  }
  .contenedor-menu a{
    background: linear-gradient(#43941a, #286a07);
        display: -webkit-box;
        text-align: -webkit-center;
        padding: 13px;
        margin-bottom: 4px;
        color: white;
        font-weight: 600;
  }
  .contenedor-menu li .inicio{
    display: inline-block;   width: 32.4%;
  }
  .orswrapper {
      padding-top: 200px;
  }
  .wrapeverything {
    padding-left: 1%;
    padding-right: 1%;
  }
  .colh1 {height: 109px;}
    nav {display: none;}
    /*redessociales*/
    /*menu todo*/
    .slide--notop .colh1 {width: 100%;  top: 18px;left: 46%;}
    .slide--notop .colhi2 {
      width: 20%;
    }

  .colh2 {
      width: 100%;
  }
    /*contactos*/
    .col50 {width: 100%;}
    /*Mapabolivia*/
    .coll3, .coll2{width: 100%;}
  /*Footer*/
  .colf1, .colf2, .colf3 {width: 100%;}

  /*nosotros*/
  .col60, .col40{width: 100%;}
  .topnav {
    display: none;
  }
  .colh1 {width: 100%; top: -37px;    left: 50%; margin-left: -183px;}
  /*Desplegables*/
  .line-inner {
    width: 90%;
    margin-left: 5%;
    border: 2px solid #d89126;
  }
  .coll1 {
    width: 100%;
  }
  .colmap {
    width: 100%;
  }
  .line-links img{
    display: none;
  }
  .linea-scroll h3{
     display: none;
  }
}
@media (max-width:625px) {
  .col20d {width: 100%;}
  .col25 {
    width: 33.3%;
    padding: 2px 0 13px 0px;
  }
  .mn-ul{
    display: -webkit-box;
  }
  .col20 {
    width: 100%;
  }
}
@media (max-width:530px){
  .slide--notop .topnav {
    margin-top: 5px;
    margin-bottom: 0;
    display: none;
  }
  .tituloProd{font-size: 50px;}
  .col25f{width: 48%;}
}
@media (max-width: 410px) {
  .col25 {
    width: 100%;
  }
}
@media (max-width: 390px) {
  /*LOGO PRINCIPAL CAMBIO*/
  .mini-organica{
    display: block;
  }
  .max-organica{
    display: none;
  }
  .colh1{
    display: none;
  }
  .tituloProd{font-size: 40px;}
}
@media (max-width: 340px) {
  .contenedor-menu li .inicio {width: 32%;}
  .wrap { width: 100%;}
}
@media (max-width: 320px) {
  .orswrapper {    padding-top: 170px;}
}
@media (max-width: 315px) {
  .tituloProd{font-size: 30px;}
}
@media (max-width:290px) {
  .orswrapper {    padding-top: 160px;}
}
@media (max-width:270px) {
  .orswrapper {    padding-top: 150px;}
}
@media (max-width:255px) {
  .orswrapper {    padding-top: 145px;}
}
