@charset "utf-8";
/*
Theme Name: Tema
Theme URI: nandes.ingsistemas@gmail.com
Author: Fernando Averanga Aruquipa
Author URI: nandes.ingsistemas@gmail.com
Description: Tema creado para Organica del Sur
Version: 1.0
Tags: tema, averanga, Fernando Averanga, fernando averanga aruquipa
*/

/*custom resets*/
.clear:after { content:"."; display: block; height: 0; clear: both; visibility: hidden;}

*{
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*:before, *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body{font-family: Arial, Helvetica, sans-serif; font-size: 1em; margin: 0 auto; width: 100%;}
.left{float: left;}
.right{float: right;}
.tleft{text-align: left;}
.tright{text-align: right;}
.center{text-align: center;}
.bold, b, strong{font-weight: bold;}
.nopadbot{padding-bottom: 0 !important;}
.nomarbot{margin-bottom: 0 !important;}
.nopadleft{padding: 0 !important;}
.nopadright{padding: 0 !important;}
.wpad{padding: 10px 20px;}
.underline{text-decoration: underline;}
.clear, .freewrapper:after, .wrap:after{clear: both;}
.clear, .freewrapper1:after, .wrap:after{clear: both;}
.autoclear:after{content: ""; display: block; height: 0; clear: both; visibility: hidden;}
.wrap {  display: block;  margin: 0 auto; width: 100%;  position:relative; }
.freewrapper{position: relative;}
.freewrapper:after, .row:after, .wrap:after{display: table; content: " ";}/*can be anidated*/
.freewrapper1{position: relative;}
.freewrapper1:after, .row:after, .wrap:after{display: table; content: " ";}/*can be anidated*/
.col100, .col67, .col50, .col33, .col25,.col25f, .col20,.col20d, .colh1, .colh2, .colh3, .colbtn, .colc1, .colc2, .colf1, .colf2, .colf3, .colfor, .colmap, .colhi1, .colhi2, .coll1, .coll2,.coll3,.coll4 {
    position: relative; min-height: 1px; float: left;
}
.col100{width: 100%;}
.col50{width: 50%;}
.col67{width: 66.66%;}
.col33{width: 33.33%;}
.col25{width: 25%;}
.col25f{width: 24%}
.col20{width: 20%;}
.col20d{width: 25%}
.colh1{width: 30%;height: 165px;top: -11px;}
.colh2{width: 70%;left: 71px;top: 31px;}
.colhi1{width: 40%;}
.colhi2{width: 30%;}
.colbtn{width: 16.65%;}
.colc1{width: 30%;}
.colc2{width: 70%;}
.colf1{width: 49%;}
.colf2{width: 24%;}
.colf3{width: 27%;}
.coll1{width: 70%;}
.coll2{width: 30%;}
.colfor{width: 25%;}
.colmap{width: 65%;}
.text p{padding: 7px 0;}

.col5, .col10, .col15, .col30, .col35, .col40, .col45, .col55, .col60, .col65, .col70, .col75, .col80, .col85, .col90, .col95, .colMenu{
  position: relative; min-height: 1px; float: left;
}
.col5{width: 5%;}
.col10{width: 10%;}
.col15{width: 15%;}
.col30{width: 30%;}
.col35{width: 35%;}
.col40{width: 40%;}
.col45{width: 45%;}
.col55{width: 55%;}
.col60{width: 59.5%;}
.col65{width: 65%;}
.col70{width: 70%;}
.col75{width: 75%;}
.col80{width: 80%;}
.col85{width: 85%;}
.col90{width: 90%;}
.col95{width: 95%;}
.colMenu{width: 100%};
.espacio-cereales{
  width: 38%;left: 95px;
}
.espacio-gramineas{
    width: 56%;
    left: 117px;
}
.espacio-corporativo{width: 19%;left: 57%;}
.espacio-catalogo{width: 17%;left: 75%;}

.slide--notop nav .espacio-corporativo {
        margin-left: -38px;
}
.slide--notop nav .espacio-catalogo {
      margin-left: -46px;
}

@font-face { font-family: 'robreg';
  src:  url('fonts/robreg.woff2') format('woff2'),
        url('fonts/robreg.woff') format('woff');}

@font-face { font-family: 'robbold';
  src:  url('fonts/robbold.woff2') format('woff2'),
        url('fonts/robbold.woff') format('woff');}

@font-face { font-family: 'robcon';
  src:  url('fonts/robcon.woff2') format('woff2'),
        url('fonts/robcon.woff') format('woff');}


@font-face { font-family: 'latbold';
  src:  url('fonts/latbold.woff2') format('woff2'),
        url('fonts/latbold.woff') format('woff');}

@font-face { font-family: 'openlight';
  src:  url('fonts/openlight.woff2') format('woff2'),
        url('fonts/openlight.woff') format('woff');}

@font-face { font-family: 'bobo';
  src:  url('fonts/bobo.woff2') format('woff2'),
        url('fonts/bobo.woff') format('woff');}
/*
@font-face { font-family: 'corpus';
  src:  url('fonts/corpus.woff2') format('woff2'),
        url('fonts/corpus.woff') format('woff');}

@font-face { font-family: 'basker';
  src:  url('fonts/basker.woff2') format('woff2'),
        url('fonts/basker.woff') format('woff');}
*/

/**/
body{width: 100%;background: linear-gradient(to bottom, #d8dcd5 6%,white 94%);}
header{
width: 100%;
background: linear-gradient(to top, #cacaca, #ffffff);
box-shadow: 0 2px 3px #000;
position: relative;
}

header .menu{
  display:none;
  font-size: 30px;
  cursor:pointer;
}

.line-inner p {
  padding: 4%;
  font-size: 15px;
  line-height: 1.3;
  letter-spacing: 0.3px;
}
.line-inner strong{
  color: #377d15;
  font-size: 18px;
  font-weight: 700;
}
.linea-scroll{overflow-y: auto;overflow-x: hidden;}
/*agregacion de globo Por Fernando Averanga*/
.globe-container
{
  position: absolute;
  left: -2px;
  margin: 46px auto;
  width:92px;
  height:92px;
  border:1px solid white;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-left-width: 2px;
  border-right-width: 1px;
  border-radius: 50px;
  overflow:hidden;
  background:url(img/02-mundo.png) top left no-repeat;
  -webkit-animation: rotate 10s infinite linear;
  -moz-animation: rotate 10s infinite linear;
  -ms-animation: rotate 10s infinite linear;
  -moz-box-shadow: 0px 5px 15px #888;
  -webkit-box-shadow: 0px 5px 15px #888;
  box-shadow: 0px 5px 15px #888;
}
.globe{ position:absolute;  width:100%;  height:100%;  background:url(img/03-cuerpo-mundo.png) top left no-repeat;}
header input{display: none;}
.ojo{float: right;margin-right: 1%; color: #e0e1e0;}
.ojo:hover{color:rgb(144, 201, 5);}
header ul, header li{ display: inline-block; }
header a{ text-decoration: none; color: inherit; }
.fa-envelope{ font-size: .9em; }
.fa-gift{ font-size: 1.15em; }
.colhi1{text-align: center; margin-top: 10px; padding-left: 3%;}
.colhi1 img{ width: 70%; display:none;}
.colhi2{text-align: right;}
.wraplogo{height: 13em;}
.wraplogo .tierra{position: absolute; bottom: 13px; width: 47px; border-radius: 50%; left: 132px;}
.tierra, .logoimg{opacity: 0;}
.topnav { margin-top: 10px; }
.fiesta, .fiesta2{ font: 11em "corpus", sans-serif; position: absolute; top: -.1em; left: .28em; line-height: 1; letter-spacing: -1px;}
.fiesta span, .fiesta2 span{ min-width: .2em; position: absolute; display: inline-block; color: white; display:none;}
.fiesta span{z-index: 3;}

.topnav li:nth-child(1) a{ 	-moz-box-shadow:inset 0px 47px 4px -16px #419418;
	-webkit-box-shadow:inset 0px 47px 4px -16px #419418;
	box-shadow:inset 0px 47px 4px -16px #419418;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #44c767), color-stop(1, #2a610d));
	background:-moz-linear-gradient(top, #44c767 5%, #2a610d 100%);
	background:-webkit-linear-gradient(top, #44c767 5%, #2a610d 100%);
	background:-o-linear-gradient(top, #44c767 5%, #2a610d 100%);
	background:-ms-linear-gradient(top, #44c767 5%, #2a610d 100%);
	background:linear-gradient(to bottom, #1d5800 5%, #1d5800 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#44c767', endColorstr='#2a610d',GradientType=0);
	background-color:#44c767;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	font-family:Arial;
	text-decoration:none;
	text-shadow:0px -1px 0px #2f6627;
  margin-left: 0;border-color: rgba(2, 2, 2, 0.69) rgba(49, 49, 49, 0.53);
    border-style: outset;
    border-bottom-width: 2px;
    border-right-width: 2px;
 }
.topnav li:nth-child(2) a{ 	-moz-box-shadow:inset 0px 47px 4px -16px #419418;
	-webkit-box-shadow:inset 0px 47px 4px -16px #419418;
	box-shadow:inset 0px 47px 4px -16px #419418;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #44c767), color-stop(1, #2a610d));
	background:-moz-linear-gradient(top, #44c767 5%, #2a610d 100%);
	background:-webkit-linear-gradient(top, #44c767 5%, #2a610d 100%);
	background:-o-linear-gradient(top, #44c767 5%, #2a610d 100%);
	background:-ms-linear-gradient(top, #44c767 5%, #2a610d 100%);
	background:linear-gradient(to bottom, #1d5800 5%, #1d5800 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#44c767', endColorstr='#2a610d',GradientType=0);
	background-color:#44c767;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	font-family:Arial;
	text-decoration:none;
	text-shadow:0px -1px 0px #2f6627;
  border-color: rgba(2, 2, 2, 0.69) rgba(49, 49, 49, 0.53);
    border-style: outset;
    border-bottom-width: 2px;
    border-right-width: 2px;
 }
.topnav li:nth-child(3) a{ 	-moz-box-shadow:inset 0px 47px 4px -16px #419418;
	-webkit-box-shadow:inset 0px 47px 4px -16px #419418;
	box-shadow:inset 0px 47px 4px -16px #419418;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #44c767), color-stop(1, #2a610d));
	background:-moz-linear-gradient(top, #44c767 5%, #2a610d 100%);
	background:-webkit-linear-gradient(top, #44c767 5%, #2a610d 100%);
	background:-o-linear-gradient(top, #44c767 5%, #2a610d 100%);
	background:-ms-linear-gradient(top, #44c767 5%, #2a610d 100%);
	background:linear-gradient(to bottom, #1d5800 5%, #1d5800 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#44c767', endColorstr='#2a610d',GradientType=0);
	background-color:#44c767;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	font-family:Arial;
	text-decoration:none;
	text-shadow:0px -1px 0px #2f6627;
  border-color: rgba(2, 2, 2, 0.69) rgba(49, 49, 49, 0.53);
      border-style: outset;
      border-bottom-width: 2px;
      border-right-width: 2px;
 }
.topnav a{ display: inline-block;  background-position: 0% 0%; background-size: 64px 128px; width: 64px; height: 64px; margin-left: 40px; text-align: center; padding-top: 7%;position: relative; font: .8em "robreg", sans-serif; color:#eee;border-radius: 5px;opacity: 0.95;}
.topnav a span{}

.topnav a:hover{color:rgb(182, 206, 5);}

.topsocial{ margin-right: 0px; margin-top: 10px; }
.topsocial li, .topnav li{top: -150px; opacity: 0; position: relative;}
.topsocial li:nth-child(1) a{ background: url('img/09-btn-face.png'); }
.topsocial li:nth-child(2) a{ background: url('img/07-btn-plus.png'); }
.topsocial li:nth-child(3) a{ background: url('img/08-btn-tube.png'); }
.topsocial a{ display: inline-block;  background-position: 0% 0%; background-size: 55px 64px; width: 55px; height: 64px; opacity: .77; transition: .25s; margin-left: -3px;}
.topsocial a:hover{  opacity: 1;}

nav{
  text-align: center;
  font: 1.05em "Arial", Times, Sans-serif;
  font-weight: 600;
  text-shadow: 0 1px 1px #000, 0 1px 1px #000, 0 1px 1px #000;
  position: relative; z-index: 2; letter-spacing: .01em;}
  nav ul{ width: 100%; }
  nav .btn-menus{
    box-shadow: rgb(65, 148, 24) 4px 10px 7px 3px inset;
  background: linear-gradient(rgb(29, 88, 0) 5%, rgb(29, 88, 0) 100%) rgb(29, 88, 0);
  border-radius: 14px;
  padding: 3.5px;
  border: 1px solid rgb(29, 88, 0);
  margin-left: -20px;
}
  nav a {
    display: table;
    color: #fff;
    width: 100%;
    height: 34px;
    background-size: 100% 69px;
    background-position: 0% 0%;
    padding: 6px 8px 0;
    padding: 0;
    width: 100%;
  }
.ifiesta{
  display: inline-block;
  position: absolute;
  top: 2.99em;
  height: 55%;
  width: auto;
  margin-left: 11px;
  left: .5em;
  opacity: 0;
  left: -500px;}
  .mapa-links span{
    background: url(img/10-globito.png);
    padding-left: 18px;
    padding-bottom: 10px;
    background-position: 0% 0%:
  }
  .mapa-links span:hover{
    background-position: 100% 0%;
  }
@-webkit-keyframes rotate{
  0% {
   background-position:0px 0px;
  }
  100% {
     background-position:-160px 0px;
  }

}

@-ms-keyframes rotate{
   0% {
   background-position:0px 0px;
  }
  100% {
     background-position:-160px 0px;
  }
}
@-moz-keyframes rotate{
 0% {
   background-position:0px 0px;
  }
  100% {
     background-position:-160px 0px;
  }
}
.rod{
background: green;
background: -webkit-linear-gradient(rgb(48, 117, 15),#3c8419, #1d5800);
background: -o-linear-gradient(rgb(48, 117, 15),#3c8419, #1d5800);
background: -moz-linear-gradient(rgb(48, 117, 15),#3c8419, #1d5800);
background: linear-gradient(rgb(48, 117, 15),#3c8419, #1d5800);
padding: 7px;
}

/*************************************************/




.ifiesta.rotate{animation: appear 1s infinite;}

.fiesta2 span{color: red; z-index: 2; transform: scale(1.4, 1.1); transform-origin: 10% 50%;}
.fiesta2{ font: 12em; display:none;}
.fiesta span:nth-child(1){ top: -0.02em; }
.fiesta span:nth-child(2){ top: .35em; left: .26em; font-size: .7em; }
.fiesta span:nth-child(3){ top: .37em; left: .4em; font-size: .7em; }
.fiesta span:nth-child(4){ top: .28em; left: .73em; font-size: .7em; }
.fiesta span:nth-child(5){ top: .02em; left: .9em; font-size: .82em; }
.fiesta span:nth-child(6){ top: .19em; left: 1.29em; font-size: .7em;}

.fiesta2 span:nth-child(1){ top: 0; }
.fiesta2 span:nth-child(2){ top: .35em; left: .26em; font-size: .72em; }
.fiesta2 span:nth-child(3){ top: .37em; left: .4em; font-size: .72em; }
.fiesta2 span:nth-child(4){ top: .28em; left: .73em; font-size: .72em; }
.fiesta2 span:nth-child(5){ top: .02em; left: .9em; font-size: .85em; }
.fiesta2 span:nth-child(6){ top: .19em; left: 1.28em; font-size: .72em;}



.rganica img{position: absolute; height: 4em; width: auto; left: 10.7em; bottom: .3em;}

/*rotation*/
.wraplogo{ perspective: 700; transform-style: preserve-3d; }
.logoimg{ transition: transform 1.5s linear; }
.flipped{ transform: perspective(700px) rotateY(360deg); }

.number{ font-size: 1.4em; color: #EFD649; }
#menuprincipal{
    top: 47px;
}

/*.navspecial{text-transform: none;}*/
nav a > *{ display: table-cell; vertical-align: middle; line-height:1.1; }

/*
nav li:nth-child(1) a{background-image: url('img/btn-red.png');}
nav li:nth-child(2) a{background-image: url('img/btn-green.png');} re_d, lblue, lgreen, orang_e, coffee,
*/

nav .dropdown{opacity: 0;}
nav .dropdown:hover .btn-menus{
  box-shadow: rgb(133, 193, 0) 4px 10px 7px 3px inset;
background: linear-gradient(rgb(92, 158, 0) 5%, rgb(77, 109, 0) 100%) rgb(0, 179, 21);
  border-radius: 14px;
  padding: 3.5px;
  border: 1px solid rgb(20, 145, 20);
}
nav .dropdown, .colaw1, .colaw2, .colaw3, .colaw4, .colaw5,.colaw6{ display: block; float: left; width: 18%; }
/*
*/
nav .dropdown:nth-child(1), .colaw1{ width: 3%;}
nav .dropdown:nth-child(2), .colaw2{ margin-right: 0.4%; }
nav .dropdown:nth-child(3), .colaw3{ margin-right: 0.4%; }
nav .dropdown:nth-child(4), .colaw4{ margin-right: 0.4%; }
nav .dropdown:nth-child(5), .colaw5{ margin-right: 0.4%; }
/* dropdown styles */

.inner{position: absolute; top: 90%; z-index: 3; padding-bottom: 2px !important; border-radius: 5px; display: none; font: .7em "robreg"; text-transform: none; width: 100%;right: -10px;}
.boton2{width: 40%;    left: 26%;}
.boton3{width: 84%;}
.boton4{ width: 19%;left: 64%;}
.boton5{width: 20%;}
.boton1 .arrow {left: 9%;}
.boton2 .arrow{left: -22%;  margin-top: -0.7%; padding-left: 27%;}
.boton3 .arrow{left: 34.5%;}
.boton4 .arrow{left: -51%; margin-top: -1%; padding-left: 55%;}
.boton5 .arrow{margin-top: -1%;left: -41%;padding-left: 50%;}
.dropdown .arrow{
  color: #19C108;
    text-shadow: 0 0 1px #000, 0 0 1px #000, 0 0 1px #000;
    line-height: .1;
    font-size: 1.3em;
    position: absolute;
    top: -2%;
}


.inner li{ width: 100%; color: #000; border-radius: 5px; position: relative; display: block; float: left; margin-top: -3px;
margin-bottom: -2px;}
.inner li:before{content: "\2022"; position: absolute; left: 5px; top: -2px; font-size: 1.5em; color: #95C867;}
.inner a{height: auto; background-size: 100% 80px; padding-top: 2px; background: none; padding-left: 12px; letter-spacing: 0 !important; }
.inner a:hover{}
.inner a span{line-height: 1; padding: 3px 2px; padding-left: 12px;}
.inner ul li:nth-child(1) a{ font-weight: bold; text-transform: uppercase; left: 0;  font-family: "Arial", Times, Sans-serif;  background: linear-gradient(to bottom, #419418, #367c14, #1f5a01); color: #fff; text-shadow: 0 1px 1px #000;}
.inner ul li:nth-child(1) a:hover{ color: #fff; background: linear-gradient(to bottom, #6E944C, #006E02, #004A15);}
.inner ul li:nth-child(1):before{content: "";}
.inner .freewrapper{
   background: rgba(255, 255, 255, .7); text-align: left; border-radius: 10px; margin-top: 8px; box-shadow: 1px 1px 2px #000; border: 1px solid #044166;right: 78px;}
.inner .freewrapper a{ display: inline-block; padding: 0 5px; border-bottom: 1px dotted #fff; border-bottom: 1px dotted transparent;  border: 1px solid rgba(178, 188, 199, .3); transform: all .35s; border-radius: 2px; color: #000; text-shadow: none; text-shadow: 0 0 1px #fff;}
.inner .freewrapper a:hover{ color: #000;  background: #BCDE56; border-top-color: #95C867; border-bottom-style:solid; border-bottom-style:solid; border-bottom-color: #95C867;}
.inner .freewrapper div{ padding-left: 5px; padding-right: 5px; }
.inner .arrowrapper > div{ height: 7px; }

.message{position: absolute; color: #fff; text-shadow: 0 1px 2px #000, 0 1px 2px #000; font: italic bold 2.5em "Times New Roman", serif; left: 55%; top: 30px;}
.wrapsl{ padding-top: 20px; padding-right: 7px; margin-bottom: 0px; width: 100%; position: absolute; top: 0; z-index: 10; padding-left: 40px;}

.fondosl{width: 100%;}
.amazingslider-box-1{ box-sizing: content-box; border: 3px solid #fff; border-radius: 3px; box-shadow: 0 0 5px rgba(0, 0, 0, 1); }
.orswrapper{padding-top: 200px;}
.amazingslider-title-1{ text-shadow: 1px 2px 3px #000; font-weight: bold !important; position: relative; bottom: -10px;}

/*
#amazingslider-wrapper-1{ float: right; margin-top: 10px; z-index: 1; }
#amazingslider1{ margin-bottom: -5px; }
*/

/* linek styles */
.coll2{padding: 6px 5px; font-size: .9em;}
.maincontent .coll2 h3{font-family: "Arial", Times, Sans-serif;font-weight: bold;}
.linek-cont{
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .5);
}

.line-inner{
  position: relative;
  width: 54%;
  background: #e3e6d8;
  margin-top: 5%;
  margin-bottom: 2%;
  margin-left: 22%;
  top: 0;
  left: 0;
  box-shadow: 0 0 5px #000;
  border: 2px solid #d89126;
}
.line-inner img{
  height: auto;
  width: 100%;
}
.siguiente{
  position: absolute;
  top: 50px;
  right: 10px;
  z-index: 100;
  width: 30px;
  height: 30px;
  background: green;
  background-size: 100% 60px;
  background-position: 0% 100%;
  cursor: pointer;
  border-radius: 50%;
}
.anterior{
  position: absolute;
  top: 50px;
  left: 10px;
  z-index: 100;
  width: 30px;
  height: 30px;
  background: green;
  background-size: 100% 60px;
  background-position: 0% 100%;
  cursor: pointer;
  border-radius: 50%;
}
.modal-close{
  position: absolute;
  top: -15px;
  right: -15px;
  z-index: 100;
  width: 30px;
  height: 30px;
  background-image: url('./img/close.png');
  background-size: 100% 60px;
  background-position: 0% 100%;
  cursor: pointer;
}

.modal-close:hover{
  background-position: 0% 0%;
}

/* interactive element styles */
.line-links a{
display: block;
text-decoration: none;
text-align: center;
background: linear-gradient(to right, #BCDE56 0%, #dcff75 30%, #e0fb91 70%,#bae635 100%);
border-bottom: 1px dotted#0c5c0c;
border-top: 1px dotted #fff;
font-variant: small-caps;
text-shadow: 0 0 1px #fff;
padding: 2px;
font-family: "bobo";
font-size: 1em;
color: #012401;
border-radius: 5px;
}
.line-links a:hover{
    background: linear-gradient(to right, #80e052, #aeffae, #98e961);
    color: #000;
}
.mapa-links a{display: block;text-decoration: none;text-align: center;text-shadow: 0 1px 7px #a79c9c;color: black;font-family: "Arial";font-weight: 700;font-size: 12.3px;}
.mapa-links a:hover{
  text-shadow:0 1px 7px #463d3d;
  color: #014401;
  font-weight: bold;
}

h2{font: 1.5em "latbold", sans-serif; background: linear-gradient(to right, #1d5800, #419418, #1d5800); text-align: center; color: #fff; padding: 2px 0; text-shadow: 1px 2px 2px #000; box-shadow: 0 1px 2px #000; border-bottom: 1px solid #777; border-top: 1px solid #777;}
h2.first{border-top-left-radius: 7px; border-top-right-radius: 7px;}
.maincontent h3{background: linear-gradient(to right, #409317, #409217, #4a9923); color: #fff; font: 1.3em "latbold"; text-align: center; padding: 3px 0; border-top: 1px solid #e3e6d8; text-shadow: 0 1px 1px #000;}

.content{background: #e3e6d8; font: 1.1481em "openlight", sans-serif; color: #1a0700; padding: 5px 30px; text-align: justify; line-height:1.4;}
.content.welcome{padding: 5px 70px; line-height: 1.5; font-size: 1.3em;}
ul.half{width: 50%;}
.content p{margin: .1em 0;}
.maincontent{box-shadow: 0em 0em 15px #1d5800;background: #e3e6d8; border-top-left-radius: 7px; border-top-right-radius: 7px; border: 1px solid rgba(29, 88, 0, 0.83);}
.wrapeverything{padding-bottom: 0px; width: 100%;padding-left: 8%;padding-right: 8%;}
.mptext{position: absolute; bottom: 5px; left: 10px; background: rgba(255, 255, 255, .7); color: #000; font: italic bold 1.2em "Times New Roman", serif; padding: 3px 12px; border-radius: 3px; box-shadow: 0 1px 2px #333;}
.mainprod > *{box-sizing: content-box;}
.mainprod img{max-width: 100%; height: auto; margin-bottom: -2px;}
.mainprod{border: 4px solid #fff;}
.mainprod.left{border-right-width: 2px;}
.mainprod.right{border-left-width: 2px;}
.mainleft{float: left; margin-right: 10px; margin-bottom: 10px; border: 2px ridge #024e02; border-radius: 3px; box-shadow: 0 0 2px #a23808;}

.cprod{ font-size: 1.1em; }
.colc1 img{ width: 100%; }
.colc2{ padding-left: 15px; }

.imgwrap{ overflow: hidden; box-shadow: 0 0 3px #333; border: 1px solid #fff; margin-top: 10px; }
.imgwrap img{ margin-bottom: -5px; text-align: center; }
.large img{ width: 160%; margin-left: -30%; }
.medium img{ width: 130%; margin-left: -15%; }
.small img{ width: 120%; margin-left: -10%; }

ul.izquierda, ul.derecha, ul.wb{
  margin: 5px 0 5px;
  width: 50%;
  float: left;
  text-align: left;
}
ul.izquierda li, ul.derecha li, ul.wb li{
  padding-left: 17px; position: relative;
  margin-bottom: .35em;
}
ul.izquierda li:before, ul.derecha li:before, ul.wb li:before{
  content: url('img/bullet.png'); position: absolute; left: 0; top: 0px;
}
.inner ul.wb li:before{
  top: 5px;
}
ul.izquierda li{
  padding-right: 10px;
}
ul.derecha{

}
ul.wb{width: 100%;}

/*quote styles*/
blockquote {
color:#fff;
font: italic 1.2em/1.15 "georgia", serif ;
text-align:center;
padding:.2em 2em 0em;
margin:0 120px;
margin-bottom:.5em;
border:solid 1px rgb(220,220,220);
position:relative;
background: #406764;
border-radius: 3px;
box-shadow: 0 0 3px #000;
text-shadow: 0 0px 1px #000;
}

blockquote:before,
blockquote:after {
position:absolute;
width:32px;
height:32px;
content:".";
font-size:0;
}

blockquote:before {
background-image:url('img/quote2.png');
top:0;
left:0;
border-bottom-right-radius: 5px;
box-shadow: -1px -1px rgba(0, 0, 0, .7);
}

blockquote:after {
background-image:url('img/quote1.png');
bottom:0;
right:0;
border-top-left-radius: 5px;
box-shadow: 1px 1px rgba(0, 0, 0, .7);
}

.author {
display:block;
text-align:right;
font-size:18px;
padding:4px;
color:rgb(150,150,150);
font-style:italic;
}
/*end quote style*/

#ir-arriba span { display:scroll; background: url(img/btn-ir-arriba.png);  cursor: pointer;  position:fixed;  padding: 25px;
  bottom: 20px; right: 20px; background-position:0% 0%;    box-shadow: -1px 4px 8px #000;    border-radius: 30px;}

  #ir-arriba span:hover { background-position: 0% 100%;}

/*register styles*/
.reg{ font-size: .85em; text-align: center; line-height: 1.8; }
.reg input{ width: 100%; }
.wshad{ background: rgba(150, 150, 150, .3); }
.reg .one{ width: 15px; }
.reg .two{ width: 30px; }
.reg .four{ width: 60px; }
.reg .nat{ width: auto; }
.reg div{ padding: 0 1px; }
.reg label{ position: relative; top: 5px; }
.reg .note{ border: 1px solid #000; font-size: .95em; text-align: left; }
.theReg{ padding: 0 !important; }
.submitregbtn, .deleteregbtn{  width: 150px !important;  }
#statusReg.error{ background: #D23535; color: #fff; }

/**/
.mapa{padding: 0; position: relative;}
.mapa iframe{width: 100%; height: 480px; background: #e3e6d8;}
.ontop{position: absolute; width: 100%; height: 100%; top: 0; left: 0; cursor: cell;}

footer{background-image: url('img/footer-pat.jpg');  background-size: auto 100%; padding: 9px;width: 100%;
    color: #dfbc96; line-height: 1.5; text-shadow: 0 1px 1px #000; font: 1em "robreg", sans-serif; box-shadow: 0 0 5px #000;
    z-index: 2; border-top: 1px solid #000; border-bottom: 1px solid #000;
    color: #f1f1f0 !important;text-shadow: none !important;    text-shadow: 0 4px 8px #555655 !important;margin-top: 1.5%;}

footer h3{ font: 1em "robbold", sans-serif; text-shadow: 0 2px 1px #000; text-align: center; letter-spacing: 1px; margin-bottom:5px; }
.colf1, .colf2, .colf3{ margin: 0; }
.colf2, .colf3{ text-align: center; }
.colf2{ border-left: 1px dashed #000; border-right: 1px dashed #000; line-height: 1.4; min-height: 120px;}
.colf2 i{ color: #CB040A; }
.colf3{line-height: 1.4;}
.fadorn{  background: #ae7c47; height: 5px; }
.colf1 a{display: block; }
.colf1 a:before{content: "\2022"; position: absolute; left: 5px; top: -9px; font-size: 2em; color: #CB040A;}
.colf1 a:hover:before{content: "\00BB"; font-size: 1.5em; top: -7px;}
footer h2{color:#dedede; text-shadow: 0 1px 1px #000000, 0 1px 1px #000000; font-weight: bold ; font-family: "Bobo", sans-serif;}
.colf1 li{ padding-left: 20px; position: relative;}
.colf1 img{ max-width: 100%; }
footer .colf1 a.cat{background: #d00f14; color: #F9FFC2; text-shadow: none; border-radius: 5px; padding-left: 5px; display: inline-block;
padding-right: 5px;}

footer .public{margin-top: 15px;opacity: 1.7;color: rgba(25, 25, 24, 0.54);}
footer .public:hover{opacity: 1;}
footer a{ display: inline-block; color:inherit; transition: all .25s; text-decoration: none; border-bottom: 1px dashed transparent; border-radius: 7px;text-shadow: 0 0px 1px #3a3a3a, 0 0px 1px #000000;}
footer a:hover{ border-color: transparent color: #000; background: rgba(255, 255, 255, 0.23); padding-left: 2px;}
.fbanner{ padding: 0 10px; }

footer .colf1 .cat:hover{color: #F9FFC2 !important; background: #1B4802 !important; border-color: transparent;}
footer .dire{ text-align: center; text-shadow: 0 0px 1px #3a3a3a, 0 0px 1px #000000;}
footer .copy{ color: #fff; text-align: center; }

.copy{ font-size: .9em; line-height: 1; background: darkred; }
.vmapa{background: rgba(0, 0, 0, 0.5); border-radius: 7px ; padding: 0 5px;}
.vmapa, .mail{ border-bottom: 1px dotted darkred; padding-bottom: 2px; }
.vmapa:hover, .mail:hover{ color: #000; background: rgba(234, 234, 234, 0.56);}
.vmapa i{display:inline-block;}
.vmapa:hover i{ padding-left: 2px; }

footer h2{ background: none; font-size: 1em; border: none; box-shadow: none;}



/*form styles*/
form { display: block; margin: 0 auto; padding: 0 20px; }
form .form_row { margin-bottom: 18px; position: relative; }
form .input input, form .input textarea {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 5px 20px 1px 100px;
  background: #fff;
  border: 1px solid #ccc;
  color: #555;
  font-size: .8em;
  overflow: hidden;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear; }
form .input textarea { height: 10.5em; font-family: Arial, Tahoma, sans-serif; }
form .input label { position: absolute; top: 4px; left: 10px; color: #505050; cursor: text; font-size: 0.85em; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }
form .input.active input, form .input.active textarea { padding-left: 100px; border-color: #599653; }
form .input.active input:required:invalid, form .input.active textarea:required:invalid { border: 1px solid #333; color: #333; }
form .input.active input:required:invalid + label, form .input.active textarea:required:invalid + label { background: #B14040; }
form .input.active input:required:invalid:focus + label, form .input.active textarea:required:invalid:focus + label { background: #43A3BE; }

form .input.active label { width: 160px; top: 0; left: 0; color: #fff; background: #13a7d7; padding: 13px 10px; padding-bottom: 12px; text-align: center;
}

form .input label span {  color: #13a7d7; }
form .input.active label span {  color: #fff; }

.submitbtn, .deletebtn, .submitregbtn, .deleteregbtn {
  display: inline-block;
  cursor: pointer;
  padding: 2px 35px;
  font-size: 12px;
  font-weight: bold;
  color: #000;
  text-align: center;
  border: 1px solid #a5a5a5;
  background: #D4AB98;
  background-image: -webkit-linear-gradient(top, #FFFD76, #C57702);
  background-image: -moz-linear-gradient(top, #FFFD76, #C57702);
  background-image: -o-linear-gradient(top, #FFFD76, #C57702);
  background-image: linear-gradient(to bottom, #FFFD76, #C57702);
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.55), inset 0 0 7px rgba(255, 255, 255, 0.4);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.55), inset 0 0 7px rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  transition: .2s;
}
.submitbtn, .submitregbtn{ margin-right: 1%; }
.submitbtn:active {
  background: #89cbe3;
  -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.55);
  box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.55);
}
.submitbtn:hover, .deletebtn:hover, .submitregbtn:hover, .deleteregbtn:hover{ color: #fff;
  background: -webkit-linear-gradient(#49CE79, #013608);
  background: -o-linear-gradient(#49CE79, #013608);
  background: linear-gradient(#49CE79, #013608);
}

/** 2nd form animation style **/
form.second {
  padding: 15px 20px 0px;
}

form.second .form_row {
  margin-bottom: 25px;
}

form.second .input input, form.second .input textarea {
  padding-left: 75px;
}

form.second .input.active label {
  top: -18px;
  color: #fff;
  background: #477043;
  padding: 2px 8px 1px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

form.second .input.active input, form.second .input.active textarea {
  padding-left: 10px;
}
/*end of form styles*/
/*custom form styles*/
.form_row.botones{  text-align: center; }
.second .form_row.mensaje{  margin-bottom: 10px; }
#contactos{ position: relative; font-size: 1.1em; padding-top: 10px; background: #e3e6d8;}
.colfor1{ padding-left: 30px; padding-right: 15px; }
.colfor2{ padding-right: 15px; padding-left: 30px; }
#contactos h2{ margin-bottom: 15px; }
#statusMessage, #statusReg{ background: #057546; color: #fff; position: absolute; bottom: 5px; left: 0; padding: 5px 10px; width: 50%; border-left: 5px solid #FFB400; opacity: 0; text-align: center; line-height: 1.1; box-shadow: 1px 2px 2px #000; font-weight: bold; font-size: .8em; }
#statusReg{ bottom: 35px; }
.animMessage{ -webkit-animation: animMessage .4s; -webkit-animation-fill-mode:both; animation: animMessage .4s; animation-fill-mode:both; }
-webkit-@keyframes animMessage{ 0%{ opacity: 0; transform: translateX(-100%); } 90%{ opacity: 1; transform: translateX(2%); } 100% { opacity: 1; transform: translateX(0); } }

@keyframes animMessage{ 0%{ opacity: 0; transform: translateX(-100%); } 90%{ opacity: 1; transform: translateX(2%); } 100% { opacity: 1; transform: translateX(0); }
}

/*headroom*/
/*headstyles*/
.topspacer{ height: 220px; background: #64b225; }
.fixed{ position: fixed; z-index: 10; right: 0; left: 0; top: 0; }
.fixed.header{ z-index: 90;    width: 100%; }

/*#header.slide--up #logo{top: -150px; -webkit-animation: none; animation: none;}*/

.slide{ -webkit-transition:all .25s ease-in-out; -moz-transition:all .25s ease-in-out; -o-transition:all .25s ease-in-out; transition:all .25s ease-in-out; }
.slide--reset{ -webkit-transform:translateY(0); -ms-transform:translateY(0); transform:translateY(0); }
.slide--up{ -webkit-transform:translateY(-100%); -ms-transform:translateY(-100%); transform:translateY(-100%); }
.slide--notop .colhi1 img, .slide--notop .topsocial { display:none;}
.slide--notop .topnav{ margin-top: 5px; margin-bottom: 0; }
.slide--notop .topnav a{ width: 48px; height: 48px; background-size: 100% 96px !important; margin-left: 10px; }
.slide--notop .topnav a span{ font-size: .8em; }
.slide--notop .globe-container {  margin: 4px; margin-left: 28px; right: 308px;}

.slide--notop .ifiesta {
  height: 6.5em;
  margin-top: -2.5em;
  margin-left: 2.9em;
}
.slide--notop .rganica img {height: 2.6em; left: 5.5em; bottom: .1em;}
.slide--notop .wraplogo{height: 7em;}
.slide--notop .wraplogo .tierra{left: 63px; bottom: 8px; width: 30px;}
.slide--notop nav{ left: 25px; margin-bottom: 1px; margin-top: 0; bottom: 11px; }
.slide--notop nav a{ height: 35px}
.slide--notop .inner a{ height: auto; background-size: 100% 100px; }
.slide--notop .colh1{ width: 30%;height: 130px;top: 9px;}
.slide--notop .colh2{ width: 70%; margin-bottom: -26px;}
/*anim1*/

.anim1{ animation: anim1 linear 3s; }
@keyframes anim1{ 0%{ opacity: 0; transform: scale(0) rotate(0deg); } 100%{ opacity: 1; transform: scale(1) rotate(1800deg); } }

.anim2{ animation: anim2 linear 1s; }
@keyframes anim2{ 0%{ opacity: 1; transform: scale(1); } 100%{ opacity: 0; transform: scale(2); } }

.anim3{ animation: anim3 linear .5s; }
@keyframes anim3{ 0%{ opacity: 0; transform: scale(0); } 100%{ opacity: 1; transform: scale(1); } }

.anim4{ animation: anim4 linear 1s; }
@keyframes anim4{ 0%{ opacity: 0; transform: scale(2); } 100%{ opacity: 1; transform: scale(1); } }

.anim5{ animation: anim5 linear 1s; }
@keyframes anim5{ 0%{ opacity: 1; transform: scale(1); } 100%{ opacity: 0; transform: scale(0);} }

.anim1, .anim2, .anim3, .anim4, .anim5{ animation-fill-mode: both; }

/*l*/
#fakebg{ width: 100%; height: 100%; position: fixed; top: 0; z-index: 100; background: #008c16; }
#fakebg.loadedb{ -webkit-animation: fadeout ease-out .7s; animation: fadeout ease-out .7s; -webkit-animation-fill-mode: both; animation-fill-mode: both; }
@-webkit-keyframes fadeout{ 0%{opacity: 1;} 100%{opacity: 0;} }
@keyframes fadeout{ 0%{opacity: 1;} 100%{opacity: 0;} }
/*end l*/

/*loader 2*/
.load-container {  width: 240px;  height: 240px;  margin-left: -120px;  margin-top: -120px;  top: 50%;
  left: 50%;  position: absolute;  overflow: hidden;  -moz-box-sizing: border-box;  box-sizing: border-box;}

.load3 .loader { font-size: 10px;  margin: 50px auto;  text-indent: -9999em;
  width: 11em;  height: 11em;  border-radius: 50%;  background: #ffffff;  background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);  background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);  background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);  background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);  position: relative;
  -webkit-animation: load3 1.4s infinite linear;  animation: load3 1.4s infinite linear;  -webkit-transform: translateZ(0);  -ms-transform: translateZ(0);  transform: translateZ(0);}
.load3 .loader:before { width: 50%; height: 50%; background: #ffffff; border-radius: 100% 0 0 0; position: absolute; top: 0; left: 0; content: ''; }
.load3 .loader:after { background: #008c16; width: 75%; height: 75%; border-radius: 50%; content: ''; margin: auto; position: absolute; top: 0; left: 0; bottom: 0; right: 0; }
@-webkit-keyframes load3 { 0% {-webkit-transform: rotate(0deg);} 100% {-webkit-transform: rotate(360deg);} }
@keyframes load3 { 0% {transform: rotate(0deg);} 100% {transform: rotate(360deg);} }
/*end loader 2*/

.pie{  position: absolute;  padding-right: 28px;  margin-left: 14px;}
.ver{  color: #00882c;  font-weight: 600;}

.coll3 {    padding: 0 3px;    font-size: .9em;    width: 35%;}

.coll4 { width: 65%;}
#contenido-mapa iframe {width: 100%;}
.mapa-bolivia{background: #1d5800; height: 450px;}
/*puntero de mapas*/
.p-la-paz{position: absolute;left: 54px;top: 186px;}
.p-santa-cruz{position:absolute; top: 251px;left: 221px;}
.p-pando{position:absolute; top: 43px;left: 106px;}
.p-tarija{position:absolute;top: 353px;left: 177px;}
.p-beni{position:absolute;top: 142px; left: 150px;}
.p-cochabamba{position:absolute; top: 223px; left: 114px;}
.p-oruro{position:absolute; top: 259px; left: 79px;}
.p-potosi{position:absolute; top: 316px; left: 123px;}
.p-chuquisaca{position:absolute; top: 286px; left: 171px;}
